.p-input-icon-left{
    margin-left: 85%;
}

.inputIcon{
    width: 100%;
    position: relative;
}
.inputIcon input[type=text]{
    background: #fff;
    padding-left: 40px !important;
    box-sizing: border-box;
    width: 100px;
  }
 
.inputIcon i{
    position: absolute;
    top: 47px;
    left: 15px; 
    opacity: 0.6;
    cursor: not-allowed; 
}
.avatar-upload{
    margin-left: 40% !important;
    margin-top: -6px !important;
}
.currency-field{
    margin-left: -17%;
}