@import 'styles/variables.scss';

.bg-primary{
    background-color: #E7EBEE !important;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: no-repeat url("/assets/img/signin-bg.jpg");
    background-position: top right;
    margin-left: -21px;
    height:auto !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:1;
    width: 40%;
    margin-left: 60%;
 }