@import 'styles/variables.scss';

.bg-primary{
    background-color: #E7EBEE !important;
}
.bg-primarybk{
    background-color: #E7EBEE !important;
}

.background-layer {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index:1;
    width: 40%;
    margin-left: 60%;
 }

